@tailwind base;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input,
  select,
  textarea,
  button {
    outline: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  i,
  em {
    font-style: normal;
  }
}